html {
  height: 100%;
  width: 100%;
  background: #F3EFE0;
}
body {
  overflow-x: hidden;
  margin: 0 auto;
}
header {
  text-align: center;
}
header .header-top h6 {
  font-size: 12px;
  background: #fff;
  padding: 5px;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  font-weight: light;
}
header .header-top nav {
  display: flex;
  justify-content: space-between;
}
nav .header-logo img {
  width: 40px;
  margin: 10px 20px;
}
nav .nav-icons {
  font-size: 30px;
  float: right;
  margin: 20px 5px;
}
nav .nav-icons i {
  margin-right: 20px;
}
.header-display {
  margin: 0;
  width: 100%;
}
.header-display img {
  width: 100%;
}
.header-display-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; 
}
.header-display-text h2 {
  background: #3b3b40;
  padding: 15px 1.5em;
  letter-spacing: 5px;
  white-space: nowrap;
  margin-bottom: 0;
}
.header-display-text button {
  background: #fff;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: none;
  font-size: 7px;
  border-radius: 1px;
  margin: 7px auto;
}
.header-display-text button a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.main-top p {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 16px;
  white-space: wrap;
  text-align: center;
  margin-bottom: 30px;
  color: #3b3b40;
}
hr {
  border: 1px solid #000;
  width: 15%;
}
.main-top hr {
  width: 20%;
  border: 1px solid #000;
  color: #3b3b40;
}
.elements {
  text-align: center;
  margin: 40px auto;
}
.elements img {
  border-radius: 50%;
  width: 70%;
  align-items: center;
  display: block;
  margin: 0 auto;
  border: 10px solid #D9D3CA;
}
.elements h2 {
  margin: 0;
  margin-top: 5px;
  font-size: 25px;
  color: #3b3b40;
}
.elements p {
  margin: 5px 30px;
  color: #3b3b40;
  font-size: 16px;
  white-space: pre-wrap;
}
.main-bottom {
  background-image: url("IMG_20240205_150054.jpg");
  background-size: cover;
  width: 100vw;
  height: 40vh;
  margin-top: 40px;
  padding-top: 15px;
}
.main-bottom-text {
  background: rgba(0, 50, 50, 0.7);
  color: white;
  border-radius: 50%;
  height: 80%;
  width: 70%;
  padding: 10px 15px;
  margin: 20px auto;
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: white;
}
.main-bottom-text img {
  width: 20%;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
  display: block;
}
.main-bottom-text hr {
  background: white;
  border: none;
  height: 1px;
}
.main-bottom-text a {
  font-size: 14px;
}
footer {
  background: black;
  color: #696969;
  padding: 20px;
}
footer h3 {
  color: white;
}
form {
  margin-bottom: 40px;
}
form input {
  padding: 13px;
  border: 1px solid #696969;
  background: black;
  color: white;
  width: 55%;
  border-radius: 3px;
  margin-right: 5px;
}
form button {
  padding: 13px;
  border: none;
  background: #add8e6;
  color: white;
  width: 25%;
  border-radius: 3px;
}
form p a {
  color: #add8e6;
}
.footer-links .links-1 {
  margin-bottom: 50px;
}
.footer-links .links-1 a {
  color: #add8e6;
  line-height: 1.7;
  font-size: 16px;
}
.footer-links .links-2 a {
  color: #add8e6;
  line-height: 1.8;
  font-size: 16px;
}
.footer-links .links-2 {
  margin-bottom: 300px;
}
.footer-footer {
  text-align: center;
}
.footer-footer h3 {
  color: #696969;
}
.footer-footer a {
  color: #696969;
  border-left: 1px solid #696969;
  padding-left: 5px;
}
.bottom-links a:first-child {
  border-left: none;
}
